AI Daily News Summarizer.json
{
  "name": "AI Daily News Summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5354951d-89a3-486d-8cc6-e6fa02fe83f0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nSummarize this news article in 5 simple points.\n\nTitle:\n{{$json.title}}\n\nContent:\n{{$json.contentSnippet}}\n\nRules:\n- Do not use Markdown.\n- Do not use asterisks (*).\n- Do not use bullet symbols.\n- Return plain text only.\n- Use numbered points like 1, 2, 3, 4, 5.\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        608,
        0
      ],
      "id": "0b5083f8-2a20-475d-8ad5-17f34022fa24",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        752,
        -144
      ],
      "id": "dc8f602a-e382-4238-ba72-9950341e7be8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TzrCOHcSbuL5sr4b",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "iframalik.903@gmail.com",
        "subject": "AI Summary from n8n",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        944,
        0
      ],
      "id": "f881e29c-ef5f-47bf-8ac7-872b8680f085",
      "name": "Send a message",
      "webhookId": "b3131ba8-8f32-476f-ac2d-081fdc1823f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "0uRBtFQZR3OrLFTo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "44a576aa-1e6b-4f68-81db-1fe9ee09f963",
      "name": "RSS Read"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "0ee67cb8-4972-4851-a8c3-43721bb98954",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0e58dacd-2967-4a69-9ea5-0023f2fb12f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab8c1389da7edab016b79bde2d99914f33bf8b2fc0d39557a7313a8da414a2b1"
  },
  "nodeGroups": [],
  "id": "daPxMz86HZhDgT3Z",
  "tags": []
}